In [3]:
import pandas as pd # type: ignore

# EJERCICIO 1: Carga y Exploración del Dataset
  - Carga el dataset en un DataFrame.
  - Muestra las primeras 2 filas del dataset.
  - Identifica el número de filas y columnas.
  - Observa los tipos de datos en cada columna.

In [37]:
# Carga el dataset en un DataFrame.
df = pd.read_csv('sales.csv')

In [39]:
# Muestra las primeras 2 filas del dataset.
df.head(2)

,Unnamed: 0,fecha,producto,categoria,precio,cantidad,vendedor,ciudad,rating,comentarios
0,0,NaN,Auriculares,ELECTRONICA,672.699356,-5.0,Juan,BARCELONA,0.381071,Malo
1,1,2023-02-05 20:00:00,Monitor,Electrónica,325.415637,10.0,JUAN,Madrid,0.220931,NaN

In [40]:
# Identifica el número de filas y columnas.
df.shape

(100, 10)

In [42]:
# Observa los tipos de datos en cada columna.
df.dtypes

Unnamed: 0       int64
fecha           object
producto        object
categoria       object
precio         float64
cantidad       float64
vendedor        object
ciudad          object
rating         float64
comentarios     object
dtype: object

# EJERCICIO 2: Resumen Estadístico
  - Obtén un resumen estadístico de las columnas numéricas.
  - Genera un resumen estadístico solo para las columnas categóricas.